@import "bootstrap";

body {
  padding-top: 50px;
}

textarea {
  resize: vertical;
  margin-top: 5px;
  margin-bottom: 5px;
}

h1 {
  letter-spacing: -1px;
  text-align: center;
}

input {
  width: 100%;
  margin-bottom: 15px;
}

.field_with_errors {
  @extend .form-group;
  @extend .has-error;
}

.chatmessages {
   overflow-y: scroll; 
   height: 300px;
   padding-left: 0px;
}

.time {
  color: #999999;
}

.user {
  font-weight: bold;
  color:#000099;
}

.sign-up-user-message {
  padding-top: 1em;
}
